* {
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-app h2 {
    color: #002765;
    display: block;
    margin-bottom: 20px;
}

.todo-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px; /* Changed from 60px to 40px */
    margin-bottom: 25px;
}

input {
    display: block;
    width: 70%; /* Reduced from 80% to 70% */
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    border-radius: 40px;
    margin-bottom: 0;
}

button {
    display: block;
    width: 28%; /* Increased from 18% to 28% */
    height: 100%;
    border: none;
    outline: none;
    padding: 0 10px; 
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    line-height: 40px; /* Reduced from 60px to 40px */
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;  /* Added */
    align-items: center; /* Added */
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(images/checked.png);
}

ul li span {
    position: relative; /* Updated from absolute to relative */
    right: 0;
    top: 0; /* Updated value */
    padding-left: 20px; /* Added */
    height: 100%; /* Updated value */
    font-size: 22px;
    color: #555;
}

ul li span:hover {
    background: #edeef0;
}